@{
    ViewData["Title"] = "Scoped CSS";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CoreXF</h1>
</div>

<p>This is a demonstration of the so called "scoped CSS", or isolated CSS. This works in .NET 6.0</p>

@section Styles {
    <link href="DemoExtensionMvc.styles.css" rel="stylesheet">
    <link href="_content/DemoExtensionMvc.styles.css" rel="stylesheet" />
}