<!--
  Copyright (c) 2016-2021 Code Solidi Ltd. All rights reserved.
  Licensed under the GNU GENERAL PUBLIC LICENSE Version 2. See GNU-GPL.txt in the project root for license information.

-->


@model DefaultModel
<br />
<br />
<div class="panel panel-default">
    <div class="panel-heading bold">Extension2</div>
    <div class="panel-body">
        <p>Hello from Extension2.</p>
        <p>@Model.Greeting<text>: </text>@Model.DateTime</p>
    </div>
</div>