@{
    this.ViewData["Title"] = "Dashboard";
}

<h1 class="mt-4">Dashboard</h1>
<div class="card mb-4">
    <div class="card-body">
        This is the <a href="https://github.com/Code-Solidi/CoreXF" target="_blank">CoreXF</a> WebAPI dashboard. You may wish to see what microservices are installed, view their swagger descriptions, and more. Should any questions arise, please, do not hesitate to jump to the CoreXF <a href="https://code-solidi.github.io/CoreXF/" target="_blank">documentation</a>.
    </div>
</div>
